// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
        preset-1: (
                body: #e3f2fd,
                primary: #2196f3,
                primary-dark: #1C76DA,
                secondary: #673ab7,
                secondary-dark: #542CA7
        ),
);
