<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; <a href="https://codedthemes.com/?ref=appseed" target="_blank">Codedthemes</a> - Coded by AppSeed.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="https://appseed.us/product/berry-dashboard/flask/" target="_blank">Download</a></li>
          <li class="list-inline-item"><a href="https://appseed.us/product/berry-dashboard-pro/flask/" target="_blank">PRO Version</a></li>
          <li class="list-inline-item"><a href="https://appseed.us/support/" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
