{% extends 'layouts/auth_base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <a href="#" class="d-flex justify-content-center">
              <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Change Password</b></h2>
                  <p class="f-16 mt-2">Enter new password.</p>
                </div>
              </div>
            </div>
            <form action="{{ url_for('password_change_done') }}">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Old Password" />
                <label for="floatingInput">Old Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="New Password" />
                <label for="floatingInput">New Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Confirm New Password" />
                <label for="floatingInput">Confirm New Password</label>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary">Change</button>
              </div>
            </form>
            <hr />
            <h5 class="text-decoration-underline">
              <a class="ms-2" href="/">Cancel</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
