{% extends 'layouts/base.html' %}

{% block title %} QuickSight Analytics 
  
{% endblock title %} 

{% block content %}
 <!-- [ Main Content ] start -->

<head>
  <title>QuickSight Analytics </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

// quick way to add jsx to website (for genai chatbot)
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  
// script for when page reloaded (whether quicksight dashboard request or genai prompt)
  <script>  
    // if window reloaded, add delayed sales forecast completion message
    if (window.performance) {
      console.info("window.performance works fine on this browser");
    }
    console.info(performance.navigation.type);
    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
      console.info( "This page is reloaded" );

      // debug
      // if('{{ session["qs_url"] }}' === '') {
      //   alert('qs_url is blank');
      // } else {
      //   alert('qs_url is not blank');
      // }
      // // alert('{{ session["qs_url"] }}');  // debug - this works
      
      // if('{{ session["genai_resp"] }}' === '') {
      //   alert('genai_resp is blank');
      // } else {
      //   alert('genai_resp is not blank');
      // }

      // alert('{{ session["genai_resp"] }}'); // debug - this works

        setTimeout(
                                function() 
                                {
                                
                                  // if GenAI response received, then show the iframe
                                  if('{{ session["genai_resp"] }}' !== '') {
                                    $('#llm-out').show();
                                  } else {
                                    // do nothing
                                  }

                                  // if QS analytics response received, then show the iframe
                                  if('{{ session["qs_url"] }}' !== '') {
                                  // hide QuickSight analytics submit button after clicked
                                  $("#qs_submit").hide();
                                  //wait 2 secs then load this...
                                  $('#qs-container').append($('<iframe id="qs-dash-iframe" src = {{ session["qs_url"] }} width="700" height = "400"></iframe>'));
                                  } else {
                                    // do nothing
                                  }
                                
                                  
                                }, 2000);

                                
                                
  
                                

    } else {
      console.info( "This page is not reloaded");
    }

</script> 

 
<!-- GENAI DIV -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">LDFE Diagnostics Engine</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li><br>
                <!-- <li class="breadcrumb-item" aria-current="page">Typography</li> -->
              </ul>
                <!-- <div class="col-md-4 mb-3">
                  <div class="p-3 color-block bg-blue-100" data-clipboard-text="bg-grey-600" width="800">bg-grey-600</div>
                </div> -->
                <!-- <p id="empty_div"></p><br>
                <p id="empty_div"></p> -->
                  <!-- <form id="llm-in" method="post"> -->
                      <!-- <label for="llm_qu">Ask a question: &nbsp;&nbsp;&nbsp;</label> &nbsp; is a space -->
                          <!-- <input type="text" value="LLM Prompt" id="llm_qu" name="llm_qu" style="width: 700px;"><br>
                          <p id="empty_div"></p>
                          <button type="submit" id="llm_submit" name="llm_submit">Tell me...</button>
                          <p id="empty_div"></p>
                          <p id="llm-query"></p> -->
                  <!-- </form><br> -->
                  <!-- <p class="card-body" id="llm-out" style="display:none;">{{ session["genai_resp"] }}</p>  -->

              </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- QUICKSIGHT DIV -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ Typography ] start
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Headings</h5>
              <p
                ><span class="badges">.h1</span> through .h6 classes are also available, for when you want to match the font styling of a
                heading but cannot use the associated HTML element.</p
              >
            </div>
            <div class="card-body">
              <h1>h1. Heading</h1>
              <div class="clearfix"></div>
              <h2>h2. Heading</h2>
              <div class="clearfix"></div>
              <h3>This is a H3</h3>
              <div class="clearfix"></div>
              <h4>This is a H4</h4>
              <div class="clearfix"></div>
              <h5>This is a H5</h5>
              <div class="clearfix"></div>
              <h6>This is a H6</h6>
            </div>
          </div>
        </div> -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>QuickSight Analytics</h5>
                <p id="empty_div"></p>
                  <button type="submit" id="qs_submit" name="qs_submit" >Load QuickSight Dashboard</button>
                    <p id="qs-load-msg"></p>
            <p class="card-body" id="qs-container"></p>
              <!-- <h1 class="display-1">Display 1</h1>
              <h1 class="display-2">Display 2</h1>
              <h1 class="display-3">Display 3</h1>
              <h1 class="display-4">Display 4</h1>
              <h1 class="display-5">Display 5</h1>
              <h1 class="display-6">Display 6</h1> -->

              <!-- <iframe
                id="qs-dash-iframe" 
                width="800"
                height="500"
                src=''
            </iframe> -->
            </div>
          </div>
        </div>
        

      <!-- INVOKE CHATBOT -->
      
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
              <iframe src="http://localhost:5173" 
              style="width:1000px; height:300px; border: 1px solid black;"></iframe>
          </div>
        </div>
      </div>

      

        
      




        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5>Inline Text Elements</h5>
            </div>
            <div class="card-body">
              <p class="lead m-t-0">Your title goes here</p>
              You can use the mark tag to
              <mark>highlight</mark> text.
              <br />
              <del>This line of text is meant to be treated as deleted text.</del>
              <br />
              <ins>This line of text is meant to be treated as an addition to the document.</ins>
              <br />
              <strong>rendered as bold text</strong>
              <br />
              <em>rendered as italicized text</em>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5>Contextual Text Colors</h5>
            </div>
            <div class="card-body">
              <p class="text-muted mb-1"> Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh. </p>
              <p class="text-primary mb-1"> Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
              <p class="text-success mb-1"> Duis mollis, est non commodo luctus, nisi erat porttitor ligula. </p>
              <p class="text-info mb-1"> Maecenas sed diam eget risus varius blandit sit amet non magna. </p>
              <p class="text-warning mb-1"> Etiam porta sem malesuada magna mollis euismod. </p>
              <p class="text-danger mb-1"> Donec ullamcorper nulla non metus auctor fringilla. </p>
              <p class="text-dark mb-1"> Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h5>Unordered</h5>
            </div>
            <div class="card-body">
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li
                  >Nulla volutpat aliquam velit
                  <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h5>Ordered</h5>
            </div>
            <div class="card-body">
              <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li
                  >Nulla volutpat aliquam velit
                  <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h5>Unstyled</h5>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li
                  >Integer molestie lorem at massa
                  <ul>
                    <li>Phasellus iaculis neque</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Eget porttitor lorem</li>
              </ul>
              <h5>Inline</h5>
              <hr />
              <ul class="list-inline m-b-0">
                <li class="list-inline-item">Lorem ipsum</li>
                <li class="list-inline-item">Phasellus iaculis</li>
                <li class="list-inline-item">Nulla volutpat</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5>Blockquotes</h5>
            </div>
            <div class="card-body">
              <p class="text-muted m-b-30"> Your awesome text goes here. </p>
              <blockquote class="blockquote">
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
              <p class="text-muted m-b-15 m-t-20"> Add <code>.text-end</code> for a blockquote with right-aligned content. </p>
              <blockquote class="blockquote text-end">
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5>Horizontal Description</h5>
            </div>
            <div class="card-body">
              <dl class="dl-horizontal row">
                <dt class="col-sm-3">Description lists</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3">Euismod</dt>
                <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd class="col-sm-9">Donec id elit non mi porta gravida at eget metus.</dd>

                <dt class="col-sm-3">Malesuada porta</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                <dd class="col-sm-9"
                  >Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd
                >
              </dl>
            </div>
          </div>
        </div>
        <!-- [ Typography ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

  <script>  

    // only enable button actions when webpage ready
    $(document).ready(function(){


      // FIRST: LLM handling when llm button pressed
      $("#llm_submit").on('click', function(e){

      // show message
      document.getElementById("llm-query").innerHTML = "Querying RAG/LLM model...";
      document.getElementById("llm-out").innerHTML = ""; // clear any previous LLM responses


      // debug
      // alert(`LLM Prompt Submitted`); 

      var llmQu = $("#llm_qu").val();

      $.ajax({
              type: "GET",
              url: '/gen_ai',
              data: {target_qu: llmQu},
                          success: function (resp) {
                              // alert(`target_qu : {llm_qu}`);
                              //   alert(`target qu transferred to flask`); 
                                // $('#genai-iframe').show();

                                // remove message and reload page after graceful 10 secs
                                setTimeout(function(){
                                    document.getElementById("llm-query").innerHTML = '';
                                    // document.getElementById("llm-out").innerHTML = '{{ session["genai_resp"] }}';
                                    // $('#llm-out').show();
                                    window.location.reload();
                                }, 5000);
                              },
                              error: function (error) {
                                console.log(error);
                              }
                            })


            });
            

      // SECOND: QuickSight analytics handling when quicksight button pressed
      $("#qs_submit").on('click', function(e){
      
        

        // hide button after clicked
        $("#qs_submit").hide();

        // show message
        document.getElementById("qs-load-msg").innerHTML = "QuickSight dashboard will load shortly...";
                  
            // $('#qs-dash-iframe').attr('src',
                    
          $.ajax({
                    type: "GET",
                    url: '/analytics',
                    data: {quicksight: 'yes'},
                                success: function (resp) {
                                      // $('#qs-dash-iframe').show();
                            

                                      // remove message and reload page after graceful 5 secs
                                      setTimeout(function(){
                                          document.getElementById("qs-load-msg").innerHTML = '';
                                          window.location.reload();
                                      }, 5000);
                                      
                                      
                                      // $('#qs-container').append($('<iframe id="qs-dash-iframe" src = {{ session["qs_url"] }} width="800" height = "400"></iframe>'));
                                      // it takes about 10-15 secs to get the QS url each time so
                                      // wait  before loading the iframe for the QuickSight dashboard
                                      // setTimeout(
                                      //     function() 
                                      //     {
                                      //       $('#qs-container').append($('<iframe id="qs-dash-iframe" src = {{ session["qs_url"] }} width="800" height = "400"></iframe>'));
                                      //     }, 20000);

                                    },
                                    error: function (error) {
                                      console.log(error);
                                    }
                                  })

          // window.location.reload(); // reload page to make sure we have the new qs dashboard url
          
          });

      
      


      });

      </script>
    
  

</body>

{% endblock content %}

</html>
